body{
    max-width: auto;
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
header{
    display:flex;
    flex-direction: row;
    background-color: RGB(51,51,51)	;
    margin-bottom: 0px auto;
    height: 65px;
}
.top-left{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    margin-left: -100px;
}
.login{
    display:block;
    padding:20px 10px;  
}
header .logo-header-small{
    display:block;
    padding:10px 100px;
}
.nav{
    display:flex;
    flex-direction: row;
    align-content: center;
}
.nav-ul{
    list-style: none;
    flex-direction: row;
    justify-content: center;
}
.nav-ul li{
    font-size: 18px;
    flex-direction: row;
    margin-left: 10px;
    float: left; 
}
a {
    text-decoration: none;
    color:white;
}
.login{
    display:flex;
    flex-direction: row;
    padding-left:430%;
}
.premier-cadre{
    display:flex;
    max-width: auto;
    height:350px;
    background-color: RGB(30,147,204);
}
.perso {
    padding-bottom: 50px;
    padding-top: 40px;
    padding-left: 120px;
}
.logo-cadre-1{
    display:flex;
    flex-direction: column;
    padding: 85px;
    padding-bottom: 100px;
    margin-left: 110px;
}
.premier-cadre p{
    color:white;
    font-size: 20px;
}
#bouton-orange{
    display:inline-flex;
    justify-content: center;
    background-color:orange;
    color: white;
    font-weight: bold;
    max-width:75%;
    height: 50px;
    margin: 0 auto;
    align-content: center;
    padding: 15px 20px;
    border:2px solid white;
    border-radius: 8px;
}
.deuxieme-cadre{
    max-width:auto;
    display:flex;
    margin:0 auto;
    height:60px;
}
.deuxieme-cadre p{
    display:flex;
    align-content: center;
    font-size:20px;
    font-weight:bold;
    margin:0px auto;
    padding-top:20px;
}
.troisieme-cadre{
    height:350px;
    background-color: RGB(30,147,204);
    display:flex;
    flex-direction: column;
    padding-left:100px;
    padding-right:100px;
    padding-top: 50px;
}
.fourth-box{
    padding-left: 160px;
}
.troisieme-cadre p ,h1{
    display: flex;
    color:white;
}
.first-line{
    padding-left:25px;
    display: flex;
    justify-content: space-evenly;
}
.icone-msg-cadre3{
    padding-top: 60px;
}
.quatrieme-cadre{
    height:70px;
    display:flex;
    justify-content: center;
}
.quatrieme-cadre p{
    display:flex;
    align-content: center;
    font-size:20px;
    color:grey;
    margin:0px auto;
    padding-top:20px;
}
.cinquieme-cadre{
    width: 100%;
    background-color: rgb(238,238,238);
    justify-content: center;
    display:flex;
    height: 200px;
}
.sixieme-cadre{
    height:180px;
    display:flex;
    justify-content: center;
}
.buttons{
    display: inline-flex;
    align-content: center;
    margin: 0 auto;
    padding-top:70px; 
    padding-bottom:50px;
}
#bouton-bleu1{
    display:inline-flex;
    justify-content: center;
    background-color: rgb(23, 23, 146);
    color: white;
    font-weight: bold;
    max-width:75%;
    height: 50px;
    margin: 0 auto;
    align-content: center;
    padding: 15px 20px;
    border:2px solid white;
    border-radius: 8px;
}
#bouton-bleu2{
    display:inline-flex;
    justify-content: center;
    background-color: rgb(23, 23, 146);
    color: white;
    font-weight: bold;
    max-width:75%;
    height: 50px;
    margin: 0 auto;
    align-content: center;
    padding: 15px 20px;
    border:2px solid white;
    border-radius: 8px;
}
#bouton-orange2{
    display:inline-flex;
    justify-content: center;
    background-color: orange;
    color: white;
    font-weight: bold;
    max-width:75%;
    height: 50px;
    margin: 0 auto;
    align-content: center;
    padding: 15px 20px;
    border:2px solid white;
    border-radius: 8px;
}
footer{
    display:flex;
    flex-direction: row;
    color:white;
    font-weight: bold;
    font-size: small;
    background-color: RGB(51,51,51)	;
    margin: 0px auto;
    height: 40px;
    margin-bottom: 0em;
}
#menu-fin{
    display:flex;
    flex-direction: row;
    align-content: left;
}
#menu-fin ul{
    list-style: none;
}
#menu-fin ul li{
    float:left;
    padding-left: 10px;
}
.copyright{
    padding-left:700px;
    color:white;
}
#msg-fin{
    padding-left: 10px;
    height: 30px;
}
